<div class="container">
  <% if flash[:message] %>
    <h3 class="flash-field text-center"><%= flash[:message]%></h3>
  <% end %>
  <div class="row hotel-row-show align-items-center">
    <hr>
    <div class="col-sm">
      <%= image_tag (@hotel.image_url), alt: "#{@hotel.name}" %>
    </div>
    <div class="col-md-6">
      <h3><%= @hotel.name %></h3>
      <p><%= @hotel.city.upcase %></p>
      <p><%= @hotel.address %></p>
    </div>
    <div class="col-sm">
      <h2>&#36;<%= @hotel.price %></h2>
      <p>per night</p>
      <a href="<%= hotel_path(@hotel) %>">
      </a>
    </div>
  </div>

  <h4>From</h4>
  <div class="availablity-form text-center">
    <h4><%= format_start_visit(@visit) %> - <%= format_end_visit(@visit) %></h4>

    <%= form_tag ("/users/#{@user.id}/visits/#{@visit.id}"), method: "delete" do %>
      <%= link_to "HOME", root_path, class: "btn btn-primary", id: "home-btn" %>
      <%= submit_tag "DELETE TRIP", class: "btn btn-danger" %>
    <% end %>
  </div>
