<div class="container">
  <div class="row hotel-row-show align-items-center">
    <div class="col-sm">
      <%= image_tag (@hotel.image_url), alt: "#{@hotel.name}" %>
    </div>
    <div class="col-md-6">
      <h3><%= @hotel.name %></h3>
      <p><%= @hotel.city.upcase %></p>
      <p><%= @hotel.address %></p>
    </div>
    <div class="col-sm">
      <h2>&#36;<%= @hotel.price %></h2>
      <p>per night</p>
      <a href="<%= hotel_path(@hotel) %>">
      </a>
    </div>
  </div>

<h4>See If It's Available.</h4>
  <div class="availablity-form text-center">
    <% if flash[:message] %>
      <div class="field-with-errors"><%= flash[:message] %></div>
    <% end %>

    <%= form_tag ("/hotels/#{@hotel.id}/visits/new") do %>
      <%= label_tag(:check_in, "Check in") %>
      <%= text_field_tag :check_in, nil, placeholder: "mm/dd/yy" %>

      <%= label_tag(:check_out, "Check out") %>
      <%= text_field_tag :check_out, nil, placeholder: "mm/dd/yy"  %>
      <%= submit_tag "Check availablity" %>
    <% end %>
  </div>

</div>
